@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body {
  background-image: url("https://images.unsplash.com/photo-1506143925201-0252c51780b0?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80&amp;cs=tinysrgb&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.container-1, .text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text{
  margin: 40px;
  font-family: 'Kaushan Script', cursive;
}

button {
  margin: 15px;
}

label {
font-size: 18px;
font-weight: bold;
color: black;
}

.answer-balance { /*replaced the css selector with a class instead of an id */
  margin: 20px;
}