<h1 class="text text-center">Welcome!</h1> 
<h3 class="text text-center"> Please select an action:</h3>
<hr>
<div class="container-1">
  <a href="#" data-toggle="tooltip" title="See your balance"><button id="balance_btn" class="btn btn-primary" type="button">Balance</button></a>
  <a href="#" data-toggle="tooltip" title="Make a deposit"><button id="deposit_btn" class="btn btn-warning" type="button"> Deposit</button></a>
 <a href="#" data-toggle="tooltip" title="Make a withdraw"><button id="withdrawal_btn" class="btn btn-success" type="button"> Withdrawal</button></a>
 <a href="#" data-toggle="tooltip" title="See transaction history"><button id="history_btn" class="btn btn-info" type="button">History</button></a>
 <a href="#" data-toggle="tooltip" title="Exit account"><button id="exit_btn" class="btn btn-danger" type="button">Exit</button></a>
  </div>
<hr>
  <div class="container-2">
    <label id="answer_transactions" style="display:none;"></label>
    <label id="answer_history" style="display:none;"></label>
    <label id="answer_balance" style="display:none;"></label>
  </div>