<div class="container">
<h1 class="text text-center">Hi there!</h1>
<h3 class="text text-center">Please insert your PIN below to perform your transactions.</h3>
  <hr>
  <div class="form-group" id ="pin">
  <input type="number" class="form-input" id="pwd">
  <button type="button" class="btn btn-success" id="go_btn">GO </button> 
  </div>
</div>