@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body {
  background-image: url("https://images.unsplash.com/photo-1469031187556-d2f469a1375b?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80&amp;cs=tinysrgb&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
     background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 20px;
  font-family: 'Kaushan Script', cursive;
}

input, button {
  margin: 10px;
  height: 40px;
  width: 60px;
}


.form-input {
  width: 180px;
  padding: 10px;
}